
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container__header {
  width: 100%;
  height: 95px;
  position: fixed;
  background-color: white;
}

.logo {
  width: 150px;
  height: 95px;
  margin-left: 120px;
  /*position: relative;*/
}

.logo img {
  width: 80%;
  height: 30px;
  margin-top: 35px;
  margin-left: 15px;
}

.container__menu {
  width: 100%;
  height: 95px;
  margin-top: -95px;
}

.menu {
  list-style: none;
  text-align: center;
  padding-top: 35px;
  margin-left: 300px;
}

.item__menu {
  display: inline;
  margin-right: 20px;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.blue {
  background-color: #232159;
  border-radius: 10px;
}

.purple {
  background-color: #4f177d;
  border-radius: 10px;
}

.white {
  color: white;
}

/* BANNER */

.banner_img {
  width: 100%;
  height: 650px;
}

.container__banner {
  width: 40%;
  height: auto;
  /*position: relative;*/
  margin-top: -550px;
  margin-left: 120px;
  color: white;
}

.titulo_banner {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
}

.texto_banner {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 500;
}

.button__banner {
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  color: black;
  width: 30%;
  height: 50px;
  border-radius: 10px;
}

.texto_button {
  font-weight: 500;
}

/* Clicks */

.clicks {
  background-color: #faf2ff;
  width: 100%;
  height: 300px;
  /*position: relative;*/
  margin-top: 210px;
}

.img_clicks {
  width: 30%;
  margin-left: 100px;
  padding-top: 50px;
}

.img_clicks img {
  width: 50%;
  margin-left: 90px;
}

.container__texto--clicks {
  width: 50%;
  margin-left: 600px;
  margin-top: -150px;
  text-align: center;
}

.container__texto--clicks h1 {
  color: #232159;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.container__texto--clicks p {
  color: #4D4C4C;
  font-size: 20px;
}

/* HOMESTAY */

.container__homestay {
  width: 100%;
  height: 600px;
}

.container__texto--homestay {
  width: 50%;
  margin-left: 30px;
  text-align: center;
  padding-top: 250px;
}

.img_homestay {
  width: 40%;
  margin-top: -220px;
  margin-left: 750px;
  text-align: center;
}

.container__homestay h1 {
  color: #232159;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.container__homestay p {
  color: #4D4C4C;
  font-size: 20px;
  width: 70%;
  margin-left: 100px;
}

/* SAVE */

.container__save {
  background-color: #faf2ff;
  width: 100%;
  height: 300px;
  margin-top: 210px;
}

.img_save {
  width: 30%;
  margin-left: 100px;
  padding-top: 50px;
}

.img_save img {
  width: 50%;
  margin-left: 90px;
}

.container__texto--save {
  width: 50%;
  margin-left: 600px;
  margin-top: -150px;
  text-align: center;
}

.container__texto--save h1 {
  color: #232159;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.container__texto--save p {
  color: #4D4C4C;
  font-size: 20px;
}

/* SERVICES */

.container__service {
  height: 300px;
  margin-top: 167px;
  display: flex;
  flex: wrap;
  align-items: center;
  text-align: center;
}

.container__service .card {
  background-color: #ffffff;
  width: 30%;
  height: 441px;
  margin-right: 24px;
  margin-left: 3%;
  border-radius: 4%;
  box-shadow: -5px 5px 13px 0px #b88bd8;
  -webkit-box-shadow: -5px 5px 13px 0px #b88bd8;
}

.container__service .card .card-body {
  width: 100%;
  text-align: center;
  padding: 14px;
}

.container__service .card .card-body h1 {
  color: #232159;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 10px;
}

.container__service .card .card-body p {
  text-align: justify;
  color: #4D4C4C;
  font-size: 20px;
  width: 100%;
  padding: 20px;
}

.img_accommodation {
  width: 75%;
  height: 14rem;
  display: block;
  margin-left: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
}

.img_accommodation img {
  width: 89%;
  margin-left: 1px;
  margin-right: 12px;
  margin-top: 26px;
}

.img_homestayhome {
  width: 75%;
  height: 14rem;
  display: block;
  margin-left: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
}

.img_homestayhome img {
  width: 89%;
  margin-left: 1px;
  margin-right: 12px;
  margin-top: 26px;
}

.img_student {
  width: 75%;
  height: 14rem;
  display: block;
  margin-left: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
}

.img_student img {
  width: 89%;
  margin-left: 1px;
  margin-right: 12px;
  margin-top: 26px;
}

/* Download */

.container__download {
  width: 100%;
  height: 600px;
}

.container__texto--download {
  width: 50%;
  margin-left: 33px;
  text-align: center;
  padding-top: 322px;
  height: 65%;
}

.img_download {
  width: 40%;
  margin-top: -220px;
  margin-left: 750px;
  text-align: center;
}

.img_download img {
  width: 91%;
  margin-left: -95%;
  margin-right: 14px;
  margin-top: 57px;
}

.container__download h1 {
  color: #232159;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;

}

.container__download p {
  color: #4D4C4C;
  font-size: 20px;
  width: 70%;
  margin-left: 100px;
}


/*About us*/


.titulo_hombor {

  text-align: center;
  font-size: 3.5rem;
  color: #232159;
  font-weight: 300;
  line-height: 10rem;
  margin-top: 5%;
}

.Subtitle {

  color: #232159;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.img-info {

  width: 22rem;
  max-width: 23rem;
  display: block;
  margin: 0 auto;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 16%;
}

.container_text {

  font-size: 1.2rem;
  color: #232159;
  line-height: 25px;
  text-align: justify;
  width: 100%;
  margin-top: -33%;
  font-weight: 100;

}

.texto_info {

  font-weight: 100;
  padding: 15px;
  width: 50%;
  font-size: 1.2rem;
  color: #232159;
  line-height: 25px;
  font-weight: 300;
  margin-left: 45%;
}

.container_info2{

  width: 100%;
  
  padding: 140px;
  
  }
  

.subtitle2 {

  color: #232159;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: -7%;
  margin-bottom: 40px;
  font-size: 25px;
}

.img-info2 {

  width: 22rem;
  max-width: 23rem;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-left: 60%;

}

.texto_info2 {

  font-size: 1.2rem;
  color: #232159;
  line-height: 25px;
  text-align: justify;
  width: 65%;
  margin-top: -30%;
  margin-left: -10%;
  font-weight: 100;
  margin-bottom: 40px;
}

.button__info{

  font-weight: 100;
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  color: black;
  width: 30%;  
  border-radius: 8px;
  padding: 8px;
  margin-left: -9%;
  margin-bottom: 60%;
  box-shadow: -4px 0 13px 0 #b88bd8;
  -webkit-box-shadow: -5px 0 13px 0 #b88bd8;

}

.button__info:hover {

  background-color: #232159;
  color: #ffffff;

}

/*enviar correo*/

.sendemail {
  
  margin-left: 130px;
  margin-top: 20%;
  background-color: #ffffff;
  width: 70%;
  height: 541px;
  margin-left: 15%;
  border-radius: 4%;
  box-shadow: -5px 5px 13px 0px #b88bd8;
  -webkit-box-shadow: -5px 5px 13px 0px #b88bd8;

}



.send_question{

    text-align: center;
    font-weight: 600;
    color: #232159;    
    font-size: 2rem;
    margin-bottom: 200px;
}


.formulario{

margin-top: -20%;
margin-left: 10%;


}

.formulario2{

  margin-top: -4%;
  margin-left: 60%;
  
  
  
}

.formulario3{

  margin-top: 20%;
  margin-left: 30%;
  
  
}

.formulario4{


  margin-left: 30%;
  margin-bottom: 20%;
  
  
}

.button__info2{

  padding: 0.5rem 1rem;
    background-color: #4f177d;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .1s;
    margin: 0 auto;
    text-decoration: none;
    margin-left: 40%;
    

}

.button__info2:hover{

background-color: #8A3ACA;
}
